# Base de Datos SQL Azure
DB_HOST=soledbserver.database.windows.net
DB_PORT=1433
DB_NAME=soledb-puntoventa
DB_USER=soledbserveradmin
DB_PASSWORD=
DB_SCHEMA=INV_ZYL
DB_SSL=true

# JWT
JWT_SECRET=
JWT_EXPIRY=1h
JWT_REFRESH_EXPIRY=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672

# App
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
